<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-50">
      <h2>Forgot Password</h2>
      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetPassword()">
        <div class="form-group">
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
  