<!-- <footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-12 mb-4">
          <h5 class="text-uppercase">Follow Us</h5>
          <a href="https://www.facebook.com" target="_blank" class="btn btn-outline-dark btn-floating m-1" role="button">
            <mat-icon>facebook</mat-icon>
          </a>
          <a href="https://www.twitter.com" target="_blank" class="btn btn-outline-dark btn-floating m-1" role="button">
            <mat-icon>twitter</mat-icon>
          </a>
          <a href="https://www.instagram.com" target="_blank" class="btn btn-outline-dark btn-floating m-1" role="button">
            <mat-icon>instagram</mat-icon>
          </a>
          <a href="https://www.linkedin.com" target="_blank" class="btn btn-outline-dark btn-floating m-1" role="button">
            <mat-icon>linkedin</mat-icon>
          </a>
        </div>
        <div class="col-md-12 mb-4">
          <h5 class="text-uppercase">FitnessApp</h5>
          <p>&copy; 2024 RJ. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer> -->

  <div class="footer" [ngClass]="{ 'fixed-bottom': isCurrentPage }">
    <p>© RJ Fitness</p>
    <div class="social-icons">
      <a href="https://facebook.com"><img src="path-to-facebook-icon" alt="Facebook"></a>
      <a href="https://twitter.com"><img src="path-to-twitter-icon" alt="Twitter"></a>
      <a href="https://instagram.com"><img src="path-to-instagram-icon" alt="Instagram"></a>
      <a href="https://linkedin.com"><img src="path-to-linkedin-icon" alt="LinkedIn"></a>
    </div>
    <div class=" mb-4">
        <h5 class="text-uppercase">FitnessApp</h5>
        <p>&copy; 2024 RJ. All rights reserved.</p>
      </div>
  </div>
  
  